/* 
    Document   : media
    Created on : Feb 20, 2013, 10:27:15 PM
    Author     : fish
    Description:
        Purpose of the stylesheet follows.
*/
body {	
	line-height:24px;
	color:#343434;
	min-width:1020px;
	background:url(../../images/bg-body.gif) #e6e4d7;
       /* background:url(../images/bkg.jpg);*/
}

video{
    height: 100px;
    width: 80px;
}

.sideBarButton{
    color: #000;
    list-style-type:none;
    margin-left:2em;
}

.sideBarButton a{
    color: #000;
}

li{
    list-style-type:none;
    line-height: 13px;
}

a p{
    white-space: nowrap;
}

.side-bar {
    background-color:#c5c2a9;
    font-size: smaller;
}

.side-bar li img{
    height: 8px;
    width: 8px;
    vertical-align: middle;
    font-size: smaller;
}

.well-mini{
    background-color: #000000;
    color:white;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    padding:2px;
    margin-top:10%;
}

.ctlbar{
    width:25px;
    height:100%;
    float: right;
}

.ctlbar:hover{
    box-shadow: 20px 0px 0px 10px #c5c2a9 inset;
}

.beginHelper {
 width: 100%; height: 100%; background: url(PNG地址) no-repeat left top;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="/haijiao/room/image/info.png");
 _background: none;
}