/* 
    Document   : media
    Created on : Feb 20, 2013, 10:27:15 PM
    Author     : fish
    Description:
        Purpose of the stylesheet follows.
*/

*{
    padding:0;
    margin:0;
}

video{
    height: 100px;
    width: 80px;
}

.sideBarButton{
    color: #000;
    list-style-type:none;
    margin-left:2em;
}

.sideBarButton a{
    color: #000;
}

li{
    list-style-type:circle;
}

a p{
    white-space: nowrap;
}

