<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- action -->
    
    <bean id="fileManager" class="com.haijiao.Domain.file.FileManager"/>
    <bean id="LoginAction" class="com.haijiao.presentation.action.LoginAction" scope="prototype">
        <property name="userService" ref="userServiceImpl" />
        <property name="teacherService" ref="teacherServiceImpl" />
        <property name="studentService" ref="studentServiceImpl"/>
    </bean>
    <bean id="LogoutAction" class="com.haijiao.presentation.action.LogoutAction" scope="prototype">
        <property name="userService" ref="userServiceImpl" />
    </bean>
    <bean id="IndexAction" class="com.haijiao.presentation.action.IndexAction" scope="prototype">
        <property name="teacherService" ref="teacherServiceImpl" />
        <property name="studentService" ref="studentServiceImpl"/>
        <property name="userService" ref="userServiceImpl" />
        <property name="billService" ref="billServiceImpl" />
    </bean>
    <bean id="RegisterAction" class="com.haijiao.presentation.action.RegisterAction" scope="prototype">
        <property name="userService" ref="userServiceImpl" />
    </bean>
    <bean id="ToChangeInfoAction" class="com.haijiao.presentation.action.ToChangeInfoAction" scope="prototype">
        <property name="teacherService" ref="teacherServiceImpl" />
        <property name="studentService" ref="studentServiceImpl"/>
    </bean>
    <bean id="ChangeInfoAction" class="com.haijiao.presentation.action.ChangeInfoAction" scope="prototype">
        <property name="teacherService" ref="teacherServiceImpl" />
        <property name="studentService" ref="studentServiceImpl"/>
        <property name="userService" ref="userServiceImpl" />
    </bean>
    <bean id="ChangeIntroAction" class="com.haijiao.presentation.action.ChangeIntroAction" scope="prototype">
        <property name="teacherService" ref="teacherServiceImpl" />
        <property name="studentService" ref="studentServiceImpl"/>
        <property name="userService" ref="userServiceImpl" />
    </bean>
    <bean id="DealApplyAction" class="com.haijiao.presentation.action.DealApplyAction" scope="prototype">
        <property name="classService" ref="classServiceImpl" />
    </bean>
    <bean id="SearchTeacherAction" class="com.haijiao.presentation.action.SearchTeacherAction" scope="prototype">
        <property name="userService" ref="userServiceImpl" />
    </bean>
    <bean id="GetTeacherInfoAction" class="com.haijiao.presentation.action.GetTeacherInfoAction" scope="prototype">
        <property name="teacherService" ref="teacherServiceImpl" />
    </bean>   
    <bean id="BookTeacherAction" class="com.haijiao.presentation.action.BookTeacherAction" scope="prototype">
        <property name="teacherService" ref="teacherServiceImpl" />
        <property name="classService" ref="classServiceImpl" />
        <property name="userService" ref="userServiceImpl" />
    </bean>
    <bean id="AddFreeTimeAction" class="com.haijiao.presentation.action.teacherAchtion.AddFreeTimeAction" scope="prototype">
        <property name="classService" ref="classServiceImpl" />
    </bean>
    <bean id="GetStudentInfoAction" class="com.haijiao.presentation.action.GetStudentInfoAction" scope="prototype">
        <property name="studentService" ref="studentServiceImpl" />
    </bean>
    <bean id="ChangeAuditionAction" class="com.haijiao.presentation.action.ChangeAuditionAction" scope="prototype">
        <property name="teacherService" ref="teacherServiceImpl" />
    </bean>
    <bean id="GetCommonFileAction" class="com.haijiao.presentation.action.GetCommonFileAction" scope="prototype"/>
    <bean id="SendMailAction" class="com.haijiao.presentation.action.SendMailAction" scope="prototype">
        <property name="mailService" ref="mailServiceImpl" />
    </bean>
    <bean id="GetMailAction" class="com.haijiao.presentation.action.GetMailAction" scope="prototype">
        <property name="mailService" ref="mailServiceImpl" />
    </bean>
    <bean id="EnterRoomAction" class="com.haijiao.presentation.action.EnterRoomAction" scope="prototype" />   
    <bean id="EnterPublicRoomAction" class="com.haijiao.presentation.action.EnterPublicRoomAction" scope="prototype" />     
    <!-- persist -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"> 
        <property name="configLocation"
                  value = "classpath:hibernate.cfg.xml">
        </property>
    </bean>
    
    <context:component-scan base-package="com.haijiao.SupportService,com.haijiao.presentation.action,com.haijiao.Domain.room"/>
    <!-- Transaction -->
    
    <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory"/>  
    </bean>
    
    <tx:annotation-driven transaction-manager="hibernateTransactionManager"/>
    
</beans>
