<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.timeout">120</property>
    <property name="automaticTestTable">Test</property>
    <property name="hibernate.c3p0.max_statements">0</property>
    <property name="hibernate.c3p0.idle_test_period">120</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="c3p0.testConnectionOnCheckout">true</property>
    <property name="c3p0.idleConnectionTestPeriod">18000</property>
    <property name="c3p0.maxIdleTime">25000</property>
    <property name="c3p0.idle_test_period">120</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/haijiao?useUnicode=true&amp;characterEncoding=utf-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">zy102428</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
    <property name="hibernate.connection.autocommit">false</property>
    <mapping class="com.haijiao.Domain.bean.BaseBean"/>
    <!--<mapping class="com.haijiao.Domain.bean.Clazz"/>-->
    <mapping class="com.haijiao.Domain.bean.Comment"/>
    <mapping class="com.haijiao.Domain.bean.Student"/>
    <mapping class="com.haijiao.Domain.bean.Teacher"/>
    <mapping class="com.haijiao.Domain.bean.User"/>
    <mapping class="com.haijiao.Domain.file.UserFileGroup"/>
    <mapping class="com.haijiao.Domain.file.UserFile"/>
    <mapping class="com.haijiao.Domain.file.PublicFile"/>
    <mapping class="com.haijiao.Domain.bean.Lesson"/>
    <mapping class="com.haijiao.Domain.bean.Label"/>
    <mapping class="com.haijiao.Domain.bean.Bill"/>
    <mapping class="com.haijiao.Domain.bean.Mail"/>
    <mapping class="com.haijiao.Domain.bean.Payment"/>
    <mapping class="com.haijiao.Domain.Manager.MoneyRequest"/>
<!--    <mapping class="com.haijiao.Domain.bean.FreeTime"/>-->
    <mapping class="com.haijiao.Domain.bean.ResetInfo"/>
    <mapping class="com.haijiao.Domain.bean.Picture"/>
  </session-factory>
</hibernate-configuration>
