<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/haijiao?useUnicode=true&amp;characterEncoding=utf-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">19920413</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping class="com.haijiao.Domain.bean.BaseBean"/>
    <mapping class="com.haijiao.Domain.bean.Clazz"/>
    <mapping class="com.haijiao.Domain.bean.Comment"/>
    <mapping class="com.haijiao.Domain.bean.Student"/>
    <mapping class="com.haijiao.Domain.bean.Teacher"/>
    <mapping class="com.haijiao.Domain.bean.User"/>
    <mapping class="com.haijiao.Domain.file.UserFileGroup"/>
    <mapping class="com.haijiao.Domain.file.UserFile"/>
    <mapping class="com.haijiao.Domain.bean.Lesson"/>
    <mapping class="com.haijiao.Domain.bean.Label"/>
    <mapping class="com.haijiao.Domain.bean.Bill"/>
    <mapping class="com.haijiao.Domain.bean.Mail"/>
    <mapping class="com.haijiao.Domain.bean.FreeTime"/>
  </session-factory>
</hibernate-configuration>
