<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/haijiao</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">12345678</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="com/haijiao/Domain/bean/comment.hbm.xml"/>
    <mapping resource="com/haijiao/Domain/bean/schedule.hbm.xml"/>
    <mapping resource="com/haijiao/Domain/bean/timeSlice.hbm.xml"/>
    <mapping resource="com/haijiao/Domain/bean/user.hbm.xml"/>
    <mapping resource="com/haijiao/Domain/file/userfilegroup.hbm.xml"/>
    <mapping resource="com/haijiao/Domain/file/datafile.hbm.xml"/>
   <!--
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.autocommit">true</property>
    -->
  </session-factory>
  <!--
    <mapping resource="persist/Teacherfileindex.hbm.xml"/>
    <mapping resource="persist/Teacher.hbm.xml"/>
    <mapping resource="persist/Teacherfile.hbm.xml"/>
    <mapping resource="persist/Studentfileindex.hbm.xml"/>
    <mapping resource="persist/Studentfile.hbm.xml"/>
    <mapping resource="persist/Student.hbm.xml"/>
    -->
</hibernate-configuration>
