body {	
    /*	background:url(../images/bg-body.gif) #e6e4d7;*/
    /*background:url(../images/background.jpg);*/
    background-size: 100% 100%;
}
html, body {
    height:100%;
}

.bg{
    left:0;
    top:0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width:100%;
    min-width: 960px;
    background-color: #cccccc;
}

.bg_pic{
    left:0;
    top:0;
    z-index: -1;
    height: 100%;
    width:100%;
    min-width: 960px;
    opacity: 0.5;
}