body {	
        width: 1366px;
/*	background:url(../images/bg-body.gif) #e6e4d7;*/
        background:url(../images/bkg.jpg);
        filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bkg.jpg',sizingMethod='scale')";
}
html, body {
	height:100%;
}

.copyright{
    color:#FFFFFF;
}

.copyright a{
    color:#FFFFFF;
}
.copyright a:hover{
    color:#FFFFFF;
}