/* 
    Document   : teaInfo
    Created on : Jul 25, 2013, 7:21:55 PM
    Author     : fish
    Description:
        Purpose of the stylesheet follows.
*/

dl {
    margin-bottom: 0px;
}

.lead {
    margin-bottom: 0;
}

hr {
    margin: 5px 0px;
}

.btn-choice {
    background-color:transparent;
    background-image: none;
    border:0px solid #d83526;
    display:inline-block;
    color:#000000;
    font-family:arial;
    font-weight:bold;
    text-decoration:none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-choice:hover {
    background-color:transparent;
    background-image: none;    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    border:2px solid #FF6701;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: -2px;
}
.btn-choice.active, .btn-choice:active {
    background: url(../images/piece.png) no-repeat;
    background-position: 100% 100%;
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    border:2px solid #FF6701;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: -2px;
}

