/* 
    Document   : teaInfo
    Created on : Jul 25, 2013, 7:21:55 PM
    Author     : fish
    Description:
        Purpose of the stylesheet follows.
*/

dl {
    margin-bottom: 0px;
}

.lead {
    margin-bottom: 0;
}

hr {
    margin: 5px 0px;
}

